.backcolor{
    background-color: #81C784;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.pad{
    padding-left: 30px;
}
.high{
    width: 60px;
    padding-left: 10px;
    
}