.backcolor{
    background-color: #81c784e5;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.pad{
    padding-left: 30px;
}
.high{
    width: 60px;
    padding-left: 10px;
    
}
.scale-up-vertical-top{animation:scale-up-vertical-top 0.4s linear} @keyframes scale-up-vertical-top{0%{transform:scaleY(.4);transform-origin:center top}100%{transform:scaleY(1);transform-origin:center top}}
.nag{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.exit{
    width: 50px;
    margin-left: 10px;
    
}
.padi{
    margin: 20px;
}