*{
box-sizing: border-box;
padding: 0%;
margin: 0%;
}
.usuario_estilo{
  margin-bottom: 5px;
  font-style: oblique;
}
.contrasenia{
  margin-top: 5px;
  font-style: oblique;
}
.register{
  flex-direction: column;
align-self: flex-end;
padding-left: 7px;

}
.titelLog{
  font-weight: bold;
  font-style: oblique;
}

.form{
flex-direction: column;
align-items: center;
gap: 1rem;
background-color: #81c784cf;
margin-left: 30%;
margin-right: 30%;
margin-top: 10%;
padding: 30px;
border-radius: 30px;
}

.mesageError{
background-color: #c78981;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
gap: 1rem;
margin-left: 30%;
margin-right: 30%;
margin-top: 20px;
padding: 30px;
border-radius: 30px;
}
body{
background-color: #81c7848d;
}
.scale-up-center{animation:scale-up-center 0.3s; } @keyframes scale-up-center{ 0%{transform:scale(.5)} 100%{transform:scale(1)} }

@media (max-width: 830px) {
  .form{
      margin-left: 5%;
      margin-right: 5%;
  }
}